/*
.App {
  text-align: left;
}
*/
body {
  background-color: dimgray;
}
.no-border{
  border: none;
}

.title {
  margin-top: 1rem;
}

.chalk-font{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-weight: bold;
}
.center{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.card {
    width: 300px;
    background-color: rgba(255,255,255, 0.0) !important;
}
.board {
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
  margin: auto;
  opacity: 0.6;
}
.card-header{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.list-group-item{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-weight: bold;
  background-color: rgba(255,255,255, 0.0) !important;
  font-size: 20px;
}
.box {
  border: 1px solid black; /* Shows the lines in the CSS grid */
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.symbol-margin{
  margin-top: 7px;
}

.display{
  color: white;
  font-family: 'Fredericka the Great';
  font-weight: bold;
}

.mx-auto {
 margin-right: auto !important;
 margin-left: auto !important;
}

.btn {
  display: block;
  max-width: 300px;
  margin: auto;
}

.yellow{
  color: yellow;
}

.white{
  color: white;
}